# === Backend (OpenTelemetry) ===
# URL of your Grafana OTLP instance (e.g., https://otlp-gateway-prod-eu-west-2.grafana.net/otlp)
OTEL_EXPORTER_OTLP_ENDPOINT="https://your-grafana-otlp-url"
# Token Authorization (Basic ...)
OTEL_EXPORTER_OTLP_HEADERS="Basic ..."

# === Frontend (Faro) ===
NEXT_PUBLIC_FARO_URL="https://faro-collector-..."
