@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 249, 219, 203;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Utilitaires personnalisés pour le lissage des polices */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
